.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs

data/**/*.rds
data/**/*.xlsx
data/**/*.txt
data/**/stem
data/**/*.CEL
data/**/*.CEL.gz
data/**/*.csv
data/**/*.png
data/**/*.pdf
data/**/*.rdata

output/**/*.rds
output/**/*.txt

**/README.html

figures/*
tables/*


